<h1>Blogconfigs#index</h1>
<p>#ブログの設定内容</p>
<table>
    <tr>
        <th>タイトル</th>
        <td><%= @blogconfig.title %></td>
    </tr>
    <tr>
        <th>サブタイトル</th>
        <td><%= @blogconfig.subtitle %></td>
        <td></td>
    </tr>
    <tr>
        <th>style Name</th>
        <td><%= @blogconfig.stylename %></td>
        <td></td>
    </tr>
    <p><a href='/blogconfigs/edit'>編集画面</a></p>
</table>
